.TransactionPage--footer {
  display: flex;
  flex-direction: row;
}
.TransactionPage--footer > * {
  margin-top: 1.5em;
  flex: 1;
  width: 50%;
}
.TransactionPage--footer table {
  margin-right: 1.5em;
  border: 0;
  border-spacing: collapse;
}
.TransactionPage--footer th {
  text-align: left;
}
.TransactionPage--footer td {
  text-align: right;
  font-weight: bold;
}

.TransactionPage--footer div {
  padding-left: 1.5em;
  border-left: 1px solid rgb(201, 203, 206);
  font-weight: bold;
  text-align: center;
}

.TransactionPage--footer div span {
  display: block;
}
.TransactionPage--footer .DollaDolla {
  font-size: 2em;
  margin-top: 0.5em;
}

.SectionHeader {
  font-weight: bold;
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.SectionItems {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.Item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 1em;
  padding: 1.5em;
  background-color: rgb(241, 243, 246);
  margin-bottom: 0.75em;
}
.Item--Prescription {
  background-color: rgb(227, 237, 213);
}
.Item--OTC {
}

.Item svg {
  height: 1.333em;
  margin-right: 0.5em;
}

svg[data-icon] {
  color: rgb(116, 164, 60);
}
svg[data-icon="badge-dollar"] {
  color: rgb(66, 149, 208);
}
.Item strong {
  display: block;
  font-size: 1.125em;
  margin-bottom: 0.333em;
}
.Item em {
  color: rgb(129, 143, 152);
  font-style: normal;
}

.Item .Meta {
  display: flex;
  flex-direction: row;
}
.Item .Meta strong {
  margin-left: 1em;
}
